[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
pydantic = {extras = ["email"], version = "*"}
langchain-google-genai = "*"
langgraph = "*"
langgraph-checkpoint-postgres = "*"
langchain = "*"
langchain-openai = "*"
langchain-core = "*"
fastapi = "*"
uvicorn = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
llama-index-core = "*"
llama-index-readers-file = "*"
llama-index-vector-stores-qdrant = "*"
qdrant-client = "*"
llama-parse = "*"
llama-index-embeddings-openai = "*"
loguru = "*"
python-multipart = "*"
logtail-python = "*"
google-api-core = "*"
sqlmodel = "*"
asyncpg = "*"
bcrypt = "*"
pyjwt = "*"
aiofiles = "*"
langchain-groq = "*"
sqlalchemy = {exc = "*"}
psycopg = {extras = ["binary", "pool"], version = ">=3.1.18"}

[dev-packages]
pytest = "*"
httpx = "*"
deptry = "*"

[scripts]
start = "uvicorn app.main:app --reload"
upload = "python3 -m scripts.upload"

[requires]
python_version = "3.12"
