[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
pydantic="*"
langchain-google-genai = "*"
langgraph = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
fastapi = "*"
uvicorn = "*"
itsdangerous= "*"
llama-index-core = "*"
llama-index-readers-file = "*"
llama-index-vector-stores-qdrant = "*"
qdrant-client = "*"
llama-parse = "*"
llama-index-embeddings-google-genai = "*"
loguru = "*"
logtail-python = "*"
[dev-packages]

pytest = "*"

[scripts]
start = "uvicorn app.app:app --reload"
upload = "python3 -m app.upload"

[requires]
python_version = "3.12"
