[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
langchain-google-genai = "*"
langgraph = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
fastapi = "*"
uvicorn = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
itsdangerous= "*"
llama-index-core = "*"
llama-index-readers-file = "*"
llama-index-vector-stores-qdrant = "*"
qdrant-client = "*"
llama-parse = "*"
llama-index-embeddings-openai = "*"
loguru = "*"
python-multipart = "*"
logtail-python = "*"
google-api-core = "*"
griffe = "<1.0.0"
sqlmodel = "*"
psycopg2 = "*"
bcrypt = "*"
sqlalchemy = {exc = "*"}
pyjwt = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[scripts]
start = "uvicorn app.main:app --reload"
upload = "python3 -m app.upload"

[requires]
python_version = "3.12"
